*{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}
body{
    background-color: pink;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#todo{
    font-size: 40px;
    margin: 10px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
}
.ant-table{
    width: 800px; 
}
#inputname{
height: 30px;
width: 180px;
margin-left: 8px;
margin-bottom: 25px;
}
#inputspent{
height: 30px;
width: 50px;
}
#spentlabel{
    margin-right: 8px;
    font-weight: 500;
}
#namelabel{
    font-weight: 500;
}
#savebtn{
margin-top: 25px;
margin-bottom: 40px;
margin-left: 60px;
height: 35px;
width: 80px;
font-size: 15px;
display: flex;
align-items: center;
justify-content: center;
}